.idea/.gitignore
.idea/MatlabWork.iml
.idea/modules.xml
.idea/vcs.xml
About_Robot-master/456.txt
About_Robot-master/circfit.m
About_Robot-master/CRP_adams_matlab_test.slx
About_Robot-master/CRP_Fk_POE.m
About_Robot-master/CRP_Motioncode01
About_Robot-master/CRP_Nokov_error.m
About_Robot-master/CRP1410的坐标系建立.agx
About_Robot-master/ctrl_puma_robot.m
About_Robot-master/Ctrl_standardSfunction.m
About_Robot-master/Demarcate.m
About_Robot-master/Dynamic_identification.py
About_Robot-master/FK_calibrate.m
About_Robot-master/FOC_PMSM.slx
About_Robot-master/Forward_kinematics_POE.m
About_Robot-master/Forward_kinematics.m
About_Robot-master/IKSolver_large_scale.m
About_Robot-master/IKSolver_lineanalyse.m
About_Robot-master/Inverse_kinematics_POE.m
About_Robot-master/Jacoby_POE.m
About_Robot-master/kalman_filter.m
About_Robot-master/kalman_test.m
About_Robot-master/Modern_Robotics_FKsolver61.m
About_Robot-master/Modern_Robotics_IKsolver61.m
About_Robot-master/Modern_Robotics_Jacobe52.m
About_Robot-master/Modern_Robotics_Jacobe61.m
About_Robot-master/NewtonEuler.m
About_Robot-master/NewtonEulerDynamics.m
About_Robot-master/plant_puma_robot.m
About_Robot-master/Plant_standardSfunction.m
About_Robot-master/PMSMqidong_succeed.slx
About_Robot-master/README.md
About_Robot-master/simulink_puma_robot.slx
About_Robot-master/sympybotics-1.0.dev0-py3.8.egg.zip
About_Robot-master/Synchronous_demarcate.m
About_Robot-master/Synchronous_demarcate2.m
About_Robot-master/Terminal_trajectory_error.m
项目分析文档.md
